/*================
NAVEGAÇAO VERTICAL
================*/


/*
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	padding: 5px 20px;
	background: url(../util/seta.png) no-repeat left center;
}
*/

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul a{
	
	/*border: 1px solid red;*/
	width: 200px;
	height: 40px;
	display: block;
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	background: #f7b600 url(../util/menu.png) no-repeat left bottom; /* é importante por precauçao colocar o codigo da cor, caso a img n caarregu*/
}

a:hover{
	background-position: right bottom;
	background-color: #f99200;
	color: #fff;
}

#home #barra-lateral .home a, 
#sobre #barra-lateral .sobre a, 
#serv #barra-lateral .serv a, 
#noticias #barra-lateral .noticias a, 
#contato #barra-lateral .contato a{
	
	background-position: right bottom;
	background-color: #f99200;
	color: #fff;
}







