/*=================
ESTILIZANDO TABELAS
=================*/

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif\\;
}

table {
	width: 600px;
	border-collapse: separate; /*collapse esses comandos servem para juntar e separar as bordas*/
}

th, td {
	/*border: 1px solid red;*/
	padding: 7px;
}

th {
	text-transform: uppercase;
	border-top: 1px solid #999;
	border-bottom: 1px solid #111;
	text-align: center;
	font-size: 90%;
	letter-spacing: 0.1em; /*Modifica o espaçamento das letras*/
}

tr.alter {
	background-color: #efefef;
}

tr:hover {
	background-color: #c3e6e5;
}

.numero {
	text-align: right;
}